<%- include('partials/battle_head'); -%>

<script type="module">
    import {BattleManager} from "/js/battle_manager.js";
    window.battle_manager = new BattleManager(600, 600);
    window.battle_manager.initBattle(<%- JSON.stringify(data) %>);
</script> 

<script>
    function drawUnits(timestamp = 0) {
        let canvas = document.getElementById("battleCanvas");
        let ctx = canvas.getContext("2d");
        window.battle_manager.drawFrame(ctx, timestamp);
    }
</script>

<h1 class="title first-red"><%= data.general.name %></h1>
<h2 class="title"><%= data.general.date %></h2>

<% const sides_number = +data.sides[0]; %>

<table class="table table-bordered" width="40%">
    <thead>
        <tr>
        <% for (let i = 1; i <= sides_number; ++i) { %>
            <th scope="col"> <%= data.sides[i] %> </th>
        <% } %>
        </tr>
    </thead>
    <tbody>
        <tr>
        <% for (let i = 1; i <= sides_number; ++i) { %>
            <td> <%= data.belligerents.filter(x => x.side === i).map(x => x.name).join("/n") %> </td>
        <% } %>
        </tr>
    </tbody>
</table>

<div class="container mx-auto my-4 w-75">
    <div class="row">
        <div class="col-1">
            <button onclick="drawUnits()">Draw</button>
        </div>
        <div class="col">
            <input type="range" min="0" class="time-range" max="<%= data.general.steps %>" value="0" id="timeRange" oninput="drawUnits(this.value)">
        </div>
    </div>
</div>

<div class="container mx-auto battle-map-div">
    <canvas id="battleCanvas" width="600" height="600"></canvas>
</div>

<%- include('partials/battle_foot'); -%>