<%- include('partials/battle_head'); -%>

<h1 class="title first-red">Select Battle</h1>

<table class="table table-bordered" width="40%">
    <thead>
        <tr>
            <th scope="col"> Date </th>
            <th scope="col"> Name </th>
        </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < files.length; ++i) { %>
        <tr>
            <td> <a href="/battle/info/<%= files[i].filename %>"> <%= files[i].date %> </a> </td>
            <td> <a href="/battle/info/<%= files[i].filename %>"> <%= files[i].name %> </a> </td>
            </a>
        </tr>
        <% } %>
    </tbody>
</table>

<%- include('partials/battle_foot'); -%>