<%- include('partials/battle_head'); -%>

<script type="module">
    import {BattleManager} from "/js/battle_manager.js";
    window.battle_manager = new BattleManager(600, 600);
    window.battle_manager.initBattle(<%- JSON.stringify(data) %>);
</script> 

<script>
    function drawUnits(timestamp = 0) {
        let canvas = document.getElementById("battleCanvas");
        let ctx = canvas.getContext("2d");
        window.battle_manager.drawFrame(ctx, timestamp);
    }
</script>

<h1 class="title first-red"><%= data.general.name %></h1>
<h2 class="title"><%= data.general.date %></h2>

<% const sides_number = +data.sides[0]; %>

<table class="table table-bordered" width="40%">
    <thead>
        <tr>
        <% for (let i = 1; i <= sides_number; ++i) { %>
            <th scope="col"> <%= data.sides[i] %> </th>
        <% } %>
        </tr>
    </thead>
    <tbody>
        <tr>
        <% for (let i = 1; i <= sides_number; ++i) { %>
            <td> <%= data.belligerents.filter(x => x.side === i).map(x => x.name).join("/n") %> </td>
        <% } %>
        </tr>
    </tbody>
</table>

<div class="container mx-auto my-4 w-75">
    <div class="row">
        <div class="col">
            <input type="range" min="0" class="form-range time-range" max="<%= data.general.steps %>" value="0" id="timeRange">
        </div>
    </div>
</div>

<div class="container mx-auto my-4 player-buttons">
    <button id="play-button" type="button" class="btn"><img src="/images/play-button.png" width=50px alt="Play"></button>
    <button id="pause-button" type="button" class="btn"><img src="/images/pause-button.png" width=50px alt="Pause"></button>
    <button id="stop-button" type="button" class="btn"><img src="/images/stop-button.png" width=50px alt="Stop"></button>
</div>

<div class="container mx-auto battle-map-div">
    <canvas id="battleCanvas" width="600" height="600"></canvas>
</div>

<script>
    let playerIntervalId;
    let playerTime = 0;

    $(function() {
        drawUnits();
    });

    $("#timeRange").on("input", function() {
        playerTime = this.value;
        drawUnits(this.value);
        if (playerIntervalId) {
            clearInterval(playerIntervalId);
        }
    });

    function newPlayerTime(playerTime) {
        $("#timeRange").val(playerTime);
        drawUnits(playerTime);
    }

    $("#play-button").on("click", function() {
        playerIntervalId = setInterval(function() {
            newPlayerTime(playerTime++);
        }, 20);
    });

    $("#pause-button").on("click", function() {
        if (playerIntervalId) {
            clearInterval(playerIntervalId);
        }
    });

    $("#stop-button").on("click", function() {
        if (playerIntervalId) {
            clearInterval(playerIntervalId);
            playerTime = 0;
            newPlayerTime(0);
        }
    });

</script>

<%- include('partials/battle_foot'); -%>