<%- include('partials/battle_head'); -%>

<script type="module">
    import {BattleManager} from "/js/battle_manager.js";
    window.battle_manager = new BattleManager(600, 600);
    window.battle_manager.initBattle(<%- JSON.stringify(data) %>);
</script> 

<script>
    function drawUnits() {
        let canvas = document.getElementById("battleCanvas");
        let ctx = canvas.getContext("2d");
        window.battle_manager.drawFrame(ctx);
    }
</script>

<h1 class="title first-red"><%= data.general.name %></h1>
<h2 class="title"><%= data.general.date %></h2>


<% const sides_number = +data.sides[0]; %>

<table class="title center" width="60%" border="1">
    <tr>
    <% for (let i = 1; i <= sides_number; ++i) { %>
        <th> <%= data.sides[i] %> </th>
    <% } %>
    </tr>
    <tr>
    <% for (let i = 1; i <= sides_number; ++i) { %>
        <td> <%= data.belligerents.filter(x => x.side === i).map(x => x.name).join("/n") %> </td>
    <% } %>
    </tr>
</table>

<p>
    <button onclick="drawUnits()">Draw</button>
</p>
<p>
    <canvas id="battleCanvas" width="600" height="600"></canvas>
</p>

<%- include('partials/battle_foot'); -%>